@media (prefers-color-scheme: dark) {
  .markdown-body {
    color-scheme: dark;
    --color-prettylights-syntax-comment: #51597d;
    --color-prettylights-syntax-constant: #ff9e64;
    --color-prettylights-syntax-entity: #bb9af7;
    --color-prettylights-syntax-storage-modifier-import: #a9b1d6;
    --color-prettylights-syntax-entity-tag: #f7768e;
    --color-prettylights-syntax-keyword: #bb9af7;
    --color-prettylights-syntax-string: #9ece6a;
    --color-prettylights-syntax-variable: #c0caf5;
    --color-prettylights-syntax-brackethighlighter-unmatched: #db4b4b;
    --color-prettylights-syntax-invalid-illegal-text: #c0caf5;
    --color-prettylights-syntax-invalid-illegal-bg: #823c41;
    --color-prettylights-syntax-carriage-return-text: #c0caf5;
    --color-prettylights-syntax-carriage-return-bg: #823c41;
    --color-prettylights-syntax-string-regexp: #b4f9f8;
    --color-prettylights-syntax-markup-list: #e0af68;
    --color-prettylights-syntax-markup-heading: #7aa2f7;
    --color-prettylights-syntax-markup-italic: #a9b1d6;
    --color-prettylights-syntax-markup-bold: #c0caf5;
    --color-prettylights-syntax-markup-deleted-text: #f7768e;
    --color-prettylights-syntax-markup-deleted-bg: #db4b4b22;
    --color-prettylights-syntax-markup-inserted-text: #9ece6a;
    --color-prettylights-syntax-markup-inserted-bg: #41a6b520;
    --color-prettylights-syntax-markup-changed-text: #e0af68;
    --color-prettylights-syntax-markup-changed-bg: #e0af6820;
    --color-prettylights-syntax-markup-ignored-text: #a9b1d6;
    --color-prettylights-syntax-markup-ignored-bg: #3d59a1;
    --color-prettylights-syntax-meta-diff-range: #bb9af7;
    --color-prettylights-syntax-brackethighlighter-angle: #787c99;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #363b54;
    --color-prettylights-syntax-constant-other-reference-link: #7dcfff;
    --color-fg-default: #a9b1d6;
    --color-fg-muted: #9aa5ce;
    --color-fg-subtle: #515670;
    --color-canvas-default: #1a1b26;
    --color-canvas-subtle: #16161e;
    --color-border-default: #292e42;
    --color-border-muted: #24283b;
    --color-neutral-muted: rgb(84 92 126 / 25%);
    --color-accent-fg: #f6c445;
    --color-accent-emphasis: #b8860b;
    --color-success-fg: #9ece6a;
    --color-success-emphasis: #449dab;
    --color-attention-fg: #e0af68;
    --color-attention-emphasis: #c49a5a;
    --color-attention-subtle: rgb(224 175 104 / 15%);
    --color-danger-fg: #f7768e;
    --color-danger-emphasis: #db4b4b;
    --color-done-fg: #bb9af7;
    --color-done-emphasis: #9d7cd8;
  }
}

@media (prefers-color-scheme: light) {
  .markdown-body {
    color-scheme: light;
    --color-prettylights-syntax-comment: #a0a1a7;
    --color-prettylights-syntax-constant: #986801;
    --color-prettylights-syntax-entity: #c18401;
    --color-prettylights-syntax-storage-modifier-import: #383a42;
    --color-prettylights-syntax-entity-tag: #e45649;
    --color-prettylights-syntax-keyword: #a626a4;
    --color-prettylights-syntax-string: #50a14f;
    --color-prettylights-syntax-variable: #e45649;
    --color-prettylights-syntax-brackethighlighter-unmatched: #ca1243;
    --color-prettylights-syntax-invalid-illegal-text: #fafafa;
    --color-prettylights-syntax-invalid-illegal-bg: #e45649;
    --color-prettylights-syntax-carriage-return-text: #fafafa;
    --color-prettylights-syntax-carriage-return-bg: #ca1243;
    --color-prettylights-syntax-string-regexp: #0184bc;
    --color-prettylights-syntax-markup-list: #986801;
    --color-prettylights-syntax-markup-heading: #4078f2;
    --color-prettylights-syntax-markup-italic: #696c77;
    --color-prettylights-syntax-markup-bold: #383a42;
    --color-prettylights-syntax-markup-deleted-text: #ca1243;
    --color-prettylights-syntax-markup-deleted-bg: #e456491a;
    --color-prettylights-syntax-markup-inserted-text: #50a14f;
    --color-prettylights-syntax-markup-inserted-bg: #50a14f1a;
    --color-prettylights-syntax-markup-changed-text: #c18401;
    --color-prettylights-syntax-markup-changed-bg: #c184011a;
    --color-prettylights-syntax-markup-ignored-text: #fafafa;
    --color-prettylights-syntax-markup-ignored-bg: #4078f2;
    --color-prettylights-syntax-meta-diff-range: #a626a4;
    --color-prettylights-syntax-brackethighlighter-angle: #a0a1a7;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #9d9d9f;
    --color-prettylights-syntax-constant-other-reference-link: #0184bc;
    --color-fg-default: #383a42;
    --color-fg-muted: #696c77;
    --color-fg-subtle: #a0a1a7;
    --color-canvas-default: #fafafa;
    --color-canvas-subtle: #f5f5f5;
    --color-border-default: #dbdbdc;
    --color-border-muted: #e5e5e6;
    --color-neutral-muted: rgb(56 58 66 / 10%);
    --color-accent-fg: #8a5a00;
    --color-accent-emphasis: #b87800;
    --color-success-fg: #50a14f;
    --color-success-emphasis: #3bba54;
    --color-attention-fg: #c18401;
    --color-attention-emphasis: #986801;
    --color-attention-subtle: rgb(193 132 1 / 12%);
    --color-danger-fg: #e45649;
    --color-danger-emphasis: #ca1243;
    --color-done-fg: #a626a4;
    --color-done-emphasis: #a626a4;
  }
}
