---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="404">
    <div class="markdown-body">
        <p class="text-2xl font-bold">可恶！</p>
        <p>找不到这个了 呜呜</p>
    </div>
</BaseLayout>