---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../content/specs/about.md"
import "../styles/github-markdown.css"
---
<BaseLayout title="关于">
    <div class="markdown-body">
        <Content/>
    </div>
</BaseLayout>