---
import IndexLayout from '../layouts/IndexLayout.astro'
import EntryList from '../components/index/EntryList.astro'
import Content from '../content/specs/home.md'
import {getCollection} from 'astro:content'
import '../styles/markdown/github.css'

const posts = await getCollection('posts')
const allPosts = posts
    .filter(({data}) => !data.draft)
    .sort(
        (a, b) =>
            new Date(b.data.date.replace(' ', 'T')).getTime() -
            new Date(a.data.date.replace(' ', 'T')).getTime(),
    )
---

<IndexLayout title="主页">
    <div class="markdown-body">
        <Content />
    </div>
    <EntryList
        class="mt-6"
        heading="近期文章"
        headingId="recent-posts-title"
        items={allPosts.map((post) => ({
            title: post.data.title,
            href: `/posts/${post.id}`,
            date: post.data.date,
            tags: post.data.tags,
        }))}
    />
</IndexLayout>
