<div class="flex flex-col gap-2 justify-center items-center">
    <div class="bg-[#ffce75] text-3xl dark:bg-[#c18c2b]">
        寒冰是喵喵
    </div>
    <div class="text-lg">
        欢迎来到我的小世界
    </div>
    <link
            rel="alternate"
            type="application/rss+xml"
            title="🐱 寒冰是喵喵的 blog"
            href={new URL("rss.xml", Astro.site)}
    />
</div>