---
import Header from "./Header.astro"
import TableOfContents from "./TableOfContents.astro"

interface Heading {
    depth: number
    slug: string
    text: string
}

const {headings} = Astro.props as {headings: Heading[]}
---

<aside class="post-sidebar" aria-label="文章导航">
    <Header/>
    <a class="post-sidebar-home" href="/">返回主页</a>
    <TableOfContents headings={headings}/>
</aside>
