---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"
import Meta from "../components/Meta.astro"
import ContentEnhancements from "../components/ContentEnhancements.astro"
import "../styles/global.css"

const {title} = Astro.props as {title: string}
---
<!doctype html>
<html lang="zh-CN">
    <head>
        <Meta title={title}/>
    </head>
    <body>
        <div class="min-h-lvh w-full">
            <header class="mx-auto w-[min(720px,calc(100%_-_3rem))] pt-[25dvh]">
                <Header/>
            </header>
            <nav class="mx-auto w-[min(720px,calc(100%_-_3rem))] py-2" aria-label="主导航">
                <Navigation/>
            </nav>
            <main class="mx-auto w-[min(720px,calc(100%_-_3rem))] py-3">
                <div class="w-full max-w-[720px]">
                    <slot/>
                </div>
            </main>
            <footer class="mx-auto w-[min(720px,calc(100%_-_3rem))] pt-2 pb-6">
                <Footer/>
            </footer>
        </div>
        <ContentEnhancements/>
    </body>
</html>
