---
import IndexLayout from './IndexLayout.astro'

const {title, background, backgroundOpacity} = Astro.props as {
    title: string
    background?: string
    backgroundOpacity?: number
}
---

<IndexLayout title={title} background={background} backgroundOpacity={backgroundOpacity}>
    <slot name="backfill-background" slot="backfill-background" />
    <slot name="header-background" slot="header-background" />
    <slot name="site-overlay" slot="site-overlay" />
    <article class="flex flex-col gap-4" data-site-region="article">
        <h1 class="text-2xl font-bold">{title}</h1>
        <div class="markdown-body">
            <slot />
        </div>
    </article>
</IndexLayout>
