---
import Meta from "../components/Meta.astro"
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"

const { title } = Astro.props
---
<div class="h-full w-full">
    <Meta title={title}/>
    <div class="p-16 pb-0">
        <Header/>
    </div>
    <div class="p-2">
        <Navigation/>
    </div>
    <div class="p-6 flex justify-center items-center">
        <div class="w-[720px]">
            <slot/>
        </div>
    </div>
    <div class="p-6">
        <Footer/>
    </div>
</div>