---
import {getCollection} from 'astro:content'
import PostLayout from "../../layouts/PostLayout.astro"
import "../../styles/github-markdown.css"

export async function getStaticPaths() {
    const blogEntries = await getCollection('events')
    return blogEntries.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }))
}

const {entry} = Astro.props
const {Content} = await entry.render()
---
<PostLayout title={entry.data['title']}>
    <h1 class="text-2xl font-bold">{entry.data['title']}</h1>
    <div class="markdown-body">
        <Content/>
    </div>
</PostLayout>
